@use '@angular/material' as mat;

 $siome-palette: (
  50 : #edeff0,
  100 : #d2d7da,
  200 : #b4bcc1,
  300 : #96a1a8,
  400 : #808c95,
  500 : #697882,
  600 : #61707a,
  700 : #56656f,
  800 : #4c5b65,
  900 : #3b4852,
  A100 : #a9daff,
  A200 : #76c3ff,
  A400 : #43adff,
  A700 : #2aa2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
 

$my-primary: mat.define-palette($siome-palette);
$my-accent: mat.define-palette($siome-palette);
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);
@include mat.typography-hierarchy($my-theme); 